<%- include('../assets/header.ejs',{title:'404 not found'}) %>

<div class="container" style="height: 520px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
           <h1 class="display-1 text-center pt-5">404 Page Not Found 😌</h1>
        </div>
    </div>
</div>

<%- include('../assets/footer.ejs') %>
</body>

</html>
