<div id="portfolioItem1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"
          ><span class="glyphicon glyphicon-remove"></span
        ></a>
        <img class="img-res" src="img/portfolio-1.jpg" alt="" />
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Project title</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          finibus tristique. Maecenas dignissim condimentum sem eu tincidunt.
          Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam
          pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis
          consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis
          imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus
          magna. Nam aliquet ullamcorper dolor non hendrerit.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-fill">Visit Page</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="portfolioItem2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"
          ><span class="glyphicon glyphicon-remove"></span
        ></a>
        <img class="img-res" src="img/portfolio-2.jpg" alt="" />
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Project title</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          finibus tristique. Maecenas dignissim condimentum sem eu tincidunt.
          Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam
          pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis
          consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis
          imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus
          magna. Nam aliquet ullamcorper dolor non hendrerit.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-fill">Visit Page</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="portfolioItem3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"
          ><span class="glyphicon glyphicon-remove"></span
        ></a>
        <img class="img-res" src="img/portfolio-3.jpg" alt="" />
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Project title</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          finibus tristique. Maecenas dignissim condimentum sem eu tincidunt.
          Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam
          pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis
          consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis
          imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus
          magna. Nam aliquet ullamcorper dolor non hendrerit.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-fill">Visit Page</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="portfolioItem4" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"
          ><span class="glyphicon glyphicon-remove"></span
        ></a>
        <img class="img-res" src="img/portfolio-4.jpg" alt="" />
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Project title</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          finibus tristique. Maecenas dignissim condimentum sem eu tincidunt.
          Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam
          pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis
          consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis
          imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus
          magna. Nam aliquet ullamcorper dolor non hendrerit.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-fill">Visit Page</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="portfolioItem5" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"
          ><span class="glyphicon glyphicon-remove"></span
        ></a>
        <img class="img-res" src="img/portfolio-5.jpg" alt="" />
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Project title</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          finibus tristique. Maecenas dignissim condimentum sem eu tincidunt.
          Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam
          pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis
          consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis
          imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus
          magna. Nam aliquet ullamcorper dolor non hendrerit.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-fill">Visit Page</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="portfolioItem6" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"
          ><span class="glyphicon glyphicon-remove"></span
        ></a>
        <img class="img-res" src="img/portfolio-6.jpg" alt="" />
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Project title</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          finibus tristique. Maecenas dignissim condimentum sem eu tincidunt.
          Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam
          pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis
          consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis
          imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus
          magna. Nam aliquet ullamcorper dolor non hendrerit.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-fill">Visit Page</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
